<div *ngIf="(items.length !== 0);">

<form name="yourForm">
<table border='1' *ngFor="let item of items; let i = index">

<tr>
<th>Remove&nbsp;&nbsp;&nbsp;</th>
<th width='100'>Your Product&nbsp;&nbsp;</th>
<th>Quantity</th>
<th>Description</th>
<th>Price per item</th>
<th>Sub Total</th>
</tr>

<tr>
<td>
<button type="button" (click)="deleteItem(i)" class="deletebtn">X</button></td>
<td><img style="width: 100px; height: 100px;" src="../assets/images/gallery/{{item.thumbnail}}" /></td>
<td>{{item.quantity}} </td>
<td><div class="name">{{item.product_name }} </div></td>
<td>{{item.product_price | currency:'USD':true }} </td>
<td>{{item.quantity * item.product_price | currency:'USD':true }}</td>

</tr>
<tr><td></td><td></td><td></td><td></td><td><b>Grand Total</b> </td><td><b>{{ grandTotal | currency:'USD':true  }}</b></td>
</table>

</form>
</div>

<form [formGroup]="myForm">

<div id="cartItemsList" *ngFor="let product of products">

<ul>

  <li>
	<div name="product_name">{{product.name }}</div>
	<div><img src="../assets/images/gallery/{{product.thumbnail}}" /></div>
	<div>{{product.price | currency:'USD':true }}</div>
	<button class="minus-btn" (click)="minus(product)" type="button">
<img src="../assets/images/minus.svg" alt="minus" /></button>
<input class="num" [value]="product.nullValue" placeholder="0" formControlName="int" type="number" required min="0" />
<button class="plus-btn" (click)="plus(product)" type="button">
<img src="../assets/images/plus.svg" alt="plus" /></button>
	<button type="submit" class="btnAddAction" (click)="onSubmit(product.thumbnail, quantity, product.name, product.price )">Add to Cart</button>
  </li>
</ul>
</div>
</form>
